@import url('https://fonts.googleapis.com/css2?family=Arbutus&family=Bungee+Shade&family=Creepster&family=Ewert&family=Londrina+Sketch&family=Press+Start+2P&family=Rampart+One&family=Rye&family=Shojumaru&display=swap');

* {
	margin: 0px;
	padding: 0px;
}

header, main, footer{
	display: flex;
	justify-content: center;
}
header .wrapper {
	display: flex;
	justify-content: space-between;
	padding: 30px;
	box-shadow: 0px 2px 10px rgb(4 2 2 / 30%);
}

footer .wrapper{
	margin-top: 15vh;
	display: flex;
	align-items: flex-end;
	font-size: x-large;
	color: white;
	font-family: 'Bungee Shade', cursive;;
	height: 150px;
	background-color: #031e54;
}

h1, h3 {
	font-family: 'Rampart One', cursive;
}
h4 {
	font-family: 'Press Start 2P', cursive;
}

table {
	font-family: 'Arbutus', cursive;
}
.alert {
	width: 40%;
	font-family: 'Rye', cursive;
}

a {
	cursor: pointer;
	text-decoration: none;
}

.flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#logo img {
	width: 150px;
	height: 150px;
}

.con {
	display: flex;
	flex-wrap: wrap;
	padding: 20px;
	width: 33%;
	height: fit-content;
	flex-direction: column;
    align-items: center;
}

.row {
	justify-content: center;
}
.ids {
	width: 25%;
	font-family: 'Shojumaru', cursive;
}
.mybtn {
	margin: 20px;
	background-color: #07b2c6;
	color: white;
	width: 130px;
	height: 50px;
	font-family: 'Ewert', cursive;
	font-size: x-large;
}

.mybtn:hover {
	margin: 20px;
	border: none;
	box-shadow:  0px 2px 10px #07b2c6;
	background:none;
	color: #07b2c6;
	width: 130px;
}

.modal {
	font-family: 'Londrina Sketch', cursive;
	font-size: x-large;
}

.modal input{
	font-size: large;
}

.modal h5{
	font-size: xx-large;
}

.thead {
	background-color: #07b2c6;
}

.order h3{
	font-family: 'Creepster', cursive;
}


@media only screen and (max-width: 1000px) {
	.container {
		max-width: 100% !important;
	}
	.con{
		width: 100%;
	}
	.alert {
		width: 70%;
	}
	footer .wrapper {
		font-size: large;
	}
}
@media only screen and (min-width: 1001px) and (max-width: 1200px) {
	.con {
		width: 50%;
	}
}

@media only screen and (min-width: 1400px) {
	.container {
		max-width: 90% !important;
	}
}

